.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    border: 1px solid #666666;
    background: #2196f3;
    background: #aaaaaa linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));  background: #aaaaaa -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));
    color: #ffffff;
     text-shadow: 0px 0px 0px #333333;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a
{
    color: #ffffff;
}
.ui-autocomplete-panel .ui-autocomplete-table td{
    border: 0px;
}