<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Game Pub</display-name>

    <error-page>
        <error-code>404</error-code>
        <location>/error/error404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/error500.xhtml</location>
    </error-page>

    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>6LeyTRcTAAAAAJ2m-MlA86F_3Lrahrp701HTq4TA</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>6LeyTRcTAAAAAJlWhYrQ8XVi_FIQBH5syN3P6NkI</param-value>
    </context-param>

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>gamepub.filters.AuthorizationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/profile.xhtml</url-pattern>
        <url-pattern>/allUsers.xhtml</url-pattern>
        <url-pattern>/allMessages.xhtml</url-pattern>
        <url-pattern>/tradingLounge.xhtml</url-pattern>
        <url-pattern>/mesDialog.xhtml</url-pattern>
        <url-pattern>/gallery.xhtml</url-pattern>
        <url-pattern>/message.xhtml</url-pattern>
        <url-pattern>/tradingPage.xhtml</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/pages/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>main.xhtml</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>
            org.quartz.ee.servlet.QuartzInitializerListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/api</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
	
	<!--security-constraint>
		<web-resource-collection>
			<web-resource-name>gamepub</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint-->
       
       <listener>
               <listener-class>
               gamepub.scheduler.BackgroundJob
               </listener-class>
          </listener>
</web-app>